<div class="row">
    <div class="col-2 text-center">
        <img [src]="album.images[1] | image" style="min-width:50px;width:100px" class="img-thumbnail m-2">
    </div>
    <div class="col">
        <h3>{{album.name}}</h3>
        <h5 *ngFor="let artista of album.artists">
            <a [routerLink]="[ '/artista', artista.id ]">{{artista.name}}</a>
        </h5>
        <p>
            <a [href]="album.external_urls.spotify" target="_blank">Página álbum Spotify</a>
        </p>
    </div>
    <div class="col-4">
      <button class="btn btn-outline-success mt-2" [routerLink]="['/artista',album.artists[0].id]">Volver</button>
    </div>
</div>
<div class="row">
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Canción</th>
            <th scope="col">Duración</th>
            <th scope="col" width="20%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cancion of canciones">
            <td>{{cancion.name}}</td>
            <td>{{cancion.duration_ms | ms}}</td>
            <td><iframe [src]="cancion.id | sanitize:'https://open.spotify.com/embed/track/'" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></td>
          </tr>
        </tbody>
    </table>
</div>